.mask{
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 60px;
        z-index: 10000;
        // background-color: #ccc;
        opacity: .8;
        .svgBox{
                top: 50%;
                left: 50%;
                position: absolute;
                transform: translate(-50%,-50%);
        }
}