//全局变量配置
$theme-color:#ff4c21;
$headerHeight:100px;
.d-flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
:root{
    --van-loading-text-color:$theme-color !important;
}