.feedback {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(133, 133, 133,.7);
    z-index: 9999;
    left: 0;
    top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    .form {
        width: 32%;
        min-height: 38%;
        margin-bottom: 200px;
        background: #fff;
        border-radius: 4px;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        .formItem{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .btn{
            justify-content: space-around;
        }
        label{
            font-weight: bold;
        }
    }

    @-webkit-keyframes scale-up-center {
        0% {
            -webkit-transform: scale(0.5);
            transform: scale(0.5);
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    @keyframes scale-up-center {
        0% {
            -webkit-transform: scale(0.5);
            transform: scale(0.5);
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
}